 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech" width="33%">
      <h2>Design</h2>
      <img src="{{ "/assets/img/inventorlogo.png" | prepend: site.baseurl }}" width="33%" />
      <img src="{{ "/assets/img/blenderlogo.png" | prepend: site.baseurl }}" width="33%" />
      <img src="{{ "/assets/img/fusion360logo.png" | prepend: site.baseurl }}" width="33%" />
      <p>Well-experienced with 3D modelling and rendering applications through University, High school, and Personal use.</p>
    </div>
    <div class="tech" width="33%">
      <h2>Code</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/arduino/arduino-original-wordmark.svg" width="33%"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"  width="33%"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" width="33%" />
      <p>Comfortable with a variety of programming languages, well experienced with C++, Arduino, and Python</p>
    </div>
    <div class="tech" width="33%">
      <h2>Misc.</h2>
      <img src="{{ "/assets/img/photoshoplogo.png" | prepend: site.baseurl }}" width="33%" />
      <img src="{{ "/assets/img/abletonlivelogo.png" | prepend: site.baseurl }}" width="33%" />
      <img src="{{ "/assets/img/dvresolvelogo.png" | prepend: site.baseurl }}" width="33%" />
      <p>Experienced with various miscellaneous applications such as photo and video editing software, and music production software.</p>
    </div>
</div>
