<div class="user-details">
  <h1> All my experience </h1>
<div class="experience">
  <p>Autodesk Inventor</p>
  <p>Autodesk Fusion 360</p>
  <p>Blender</p>
  <p>Arduino</p>
  <p>Raspberry Pi</p>
  <p>C++</p>
  <p>Game Dev (Unity)</p>
  <p>Python</p>
  <p>Ableton Live</p>
  <p>Premiere Pro</p>
  <p>Da Vinci Resolve</p>
  <p>Hitfilm Express</p>
  <p>Performing Live</p>
  <p>OBS</p>
  <p>Twitch</p>
  <p>Youtube</p>
  <p>Streamlabs OBS</p>
  <p>Discord</p>
  <p>3D Printing</p>
  <p>3D Modelling</p>
  <p>Microsoft Word</p>
  <p>Microsoft Excel</p>
  <p>Microsoft Powerpoint</p>
  <p>Canva</p>
  <p>Google Slides</p>
  <p>Google Sheets</p>



