<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<a class="project-link" href="{{ "/assets/files/ezdoor.pdf" | prepend: site.baseurl }}" target="_blank">
  <div class="user-projects">
    <div class="images-right">
      <img src="{{ "/assets/img/EzDoor.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> EzDoor Electronic Deadlock </h3>
      <ul>
        <li> Featured Skills</li>
      </ul>
      <p>3D Design, Concept Generation, Working in a team, Public Speaking</p>
    </div>
  </div>
  </a>
 <a class="project-link" href="{{ "/assets/files/ecobricks.pdf" | prepend: site.baseurl }}" target="_blank">
  <div class="user-projects">
    <div class="images-left">
      <img src="{{ "/assets/img/EcoBricksCentre.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Eco-Bricks Recycling Centre </h3>
      <ul>
        <li> Featured Skills </li>
      </ul>
      <p>Project Management, Team Management, Product Research, Public Speaking, Geographical Analysis.</p>
    </div>
  </div>
</a>
