D<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="https://i.imgur.com/tKEIHQO.png" href="#" />
  </div>
  <div class="contents">
    <h3> EzDoor Electronic Deadlock </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>3D Design, Concept Generation, Working in a team</p>
    <a class="project-link" href="https://adrpad.github.io/assets/files/ezdoor.pdf">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
