<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <a class="project-link" href="{{ "/assets/files/ezdoor.pdf" | prepend: site.baseurl }}" target="_blank">
    <div class="contents">
      <h3> EzDoor Electronic Deadlock </h3>
        <ul> Featured Skills </ul>
      <p>3D Design, Concept Generation, Working in a team, Public Speaking</p>
    </div>
        <div class="images">
      <img src="{{ "/assets/img/EzDoor.png" | prepend: site.baseurl }}" />
    </div>
  </a>
</div>
<div class="user-projects">
  <a class="project-link" href="{{ "/assets/files/ecobricks.pdf" | prepend: site.baseurl }}" target="_blank">
    <div class="images">
      <img src="{{ "/assets/img/EcoBricksCentre.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Eco-Bricks Recycling Centre </h3>
      <ul> Featured Skills </ul>
      <p>Project Management, Team Management, Product Research, Public Speaking, Geographical Analysis.</p>
    </div>
  </a>
</div>

